In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv ('Desktop/StudentList_mva.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2024 entries, 0 to 2023
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            2024 non-null   int64
 1   district_id                   2024 non-null   int64
 2   legacy_id                     0 non-null      float64
 3   st_number                     2024 non-null   int64
 4   scope_id                      2024 non-null   int64
 5   scope_title                   2024 non-null   object
 6   firstname                     2024 non-null   object
 7   lastname                      2024 non-null   object
 8   middlename                    1877 non-null   object
 9   preferred_firstname           2024 non-null   object
 10  preferred_lastname            2024 non-null   object
 11  preferred_middlename          1877 non-null   object
 12  gender                        2024 non-null   object
 13  birthdate                     2024 non-null   object
 14  age_years                     2024 non-null   int64
 15  homephone                     2024 non-null   object
 16  homeemail                     312 non-null    object
 17  schoolemail                   2024 non-null   object
 18  city                          2024 non-null   object
 19  parents_name                  2024 non-null   object
 20  parents_email                 2023 non-null   object
 21  counties_title                2024 non-null   object
 22  primarylc                     2024 non-null   int64
 23  primarylc_name                2024 non-null   object
 24  schooltracks_title            2024 non-null   object
 25  anticipated_edprogram         0 non-null      float64
 26  edprogram                     2024 non-null   object
 27  gradelevel                    2024 non-null   object
 28  initialentrydate              0 non-null      float64
 29  firstenroll_start             2024 non-null   object
 30  enrollments_start             2024 non-null   object
 31  enrollments_finish            0 non-null      float64
 32  csisexitreasons_reporting_id  0 non-null      float64
 33  learning_center               2024 non-null   object
 34  staff_lastname                2024 non-null   object
 35  staff_firstname               2024 non-null   object
 36  insertedby_login              2024 non-null   object
 37  insertedby_date               2024 non-null   object
 38  lastupdatedby_login           2024 non-null   object
 39  lastupdatedby_date            2024 non-null   object
 40  any_tags                      2005 non-null   object
dtypes: float64(5), int64(6), object(30)
memory usage: 648.4+ KB

In [5]:
df3 = df
df['gradelevel'].value_counts()

gradelevel
1     601
2     583
3     547
KN    273
TK     20
Name: count, dtype: int64

In [6]:
df3['gradelevel'] = df3['gradelevel'].replace(['TK', 'KN'], ['-2', '0'])

In [7]:
df3['gradelevel'].value_counts()

gradelevel
1     601
2     583
3     547
0     273
-2     20
Name: count, dtype: int64

In [8]:
df3['edprogram'].value_counts()

edprogram
Independent Study        1457
Continuing Pre-Enroll     567
Name: count, dtype: int64

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2024 entries, 0 to 2023
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            2024 non-null   int64
 1   district_id                   2024 non-null   int64
 2   legacy_id                     0 non-null      float64
 3   st_number                     2024 non-null   int64
 4   scope_id                      2024 non-null   int64
 5   scope_title                   2024 non-null   object
 6   firstname                     2024 non-null   object
 7   lastname                      2024 non-null   object
 8   middlename                    1877 non-null   object
 9   preferred_firstname           2024 non-null   object
 10  preferred_lastname            2024 non-null   object
 11  preferred_middlename          1877 non-null   object
 12  gender                        2024 non-null   object
 13  birthdate                     2024 non-null   object
 14  age_years                     2024 non-null   int64
 15  homephone                     2024 non-null   object
 16  homeemail                     312 non-null    object
 17  schoolemail                   2024 non-null   object
 18  city                          2024 non-null   object
 19  parents_name                  2024 non-null   object
 20  parents_email                 2023 non-null   object
 21  counties_title                2024 non-null   object
 22  primarylc                     2024 non-null   int64
 23  primarylc_name                2024 non-null   object
 24  schooltracks_title            2024 non-null   object
 25  anticipated_edprogram         0 non-null      float64
 26  edprogram                     2024 non-null   object
 27  gradelevel                    2024 non-null   object
 28  initialentrydate              0 non-null      float64
 29  firstenroll_start             2024 non-null   object
 30  enrollments_start             2024 non-null   object
 31  enrollments_finish            0 non-null      float64
 32  csisexitreasons_reporting_id  0 non-null      float64
 33  learning_center               2024 non-null   object
 34  staff_lastname                2024 non-null   object
 35  staff_firstname               2024 non-null   object
 36  insertedby_login              2024 non-null   object
 37  insertedby_date               2024 non-null   object
 38  lastupdatedby_login           2024 non-null   object
 39  lastupdatedby_date            2024 non-null   object
 40  any_tags                      2005 non-null   object
dtypes: float64(5), int64(6), object(30)
memory usage: 648.4+ KB

In [10]:
df3['gradelevel'] = df3['gradelevel'].astype(int)

In [11]:
df3['new_gradelevel'] = np.where(df3['edprogram'] == 'Continuing Pre-Enroll', df3['gradelevel'] - 1, df3['gradelevel'])

df3['new_gradelevel'].value_counts()

new_gradelevel
 1    601
 2    582
 3    386
 0    353
-1     82
-2     20
Name: count, dtype: int64

In [12]:
601 + 582  + 353 + 82 + 20

1638

In [15]:
len(df) - 1638

386

In [14]:
df3.to_csv('mva_test.csv', index = False)